body {
	font-family: "proxima-nova", Proxima Nova, sans-serif;
    padding-top: 100px;
    background: #f9f7f0;
    color: #546c75;
    overflow-x: hidden;
}
.tile {
    background-color: #eeede8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
footer li {
    list-style: none;
}
.benefit-front .hero-graph {
    width: 100%;
    background: url('../img/bg.jpg');
}
.benefit-front footer {
    background-color: #eeede8;
    width: 100%;
    padding-bottom: 50px;
}
.benefit-front .navbar, .navbar-inner {
    height: 100px;
    background: #f9f7f0;
    box-shadow: 0;
    border: 0;
}
.benefit-front .navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 5px 0px rgba(0,0,0,0.1);
}
.benefit-front .brand {
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
.benefit-front .brand:hover {
    opacity: 0.7;
}
.benefit-front .hero-unit {
    background: transparent;
    color: #f9f7f0;
    text-align: center;
}
.benefit-front .hero-unit img {
    margin: 60px 0 20px;
}
.benefit-front .hero-unit h1 {
	text-shadow: 0px 4px 5px rgba(0,0,0,0.1);
}
.benefit-front .hero-unit h2 {
	text-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    font-weight: normal;
    margin-bottom: 30px;
}
.benefit-front .row {
    margin-top: 50px;
    margin-bottom: 20px;
}
.benefit-front .line {
    position: absolute;
    top:150px;
}
.btn, .nav li {
    font-weight: bold;
    text-transform: uppercase;
}
.benefit-front .nav li {
    color: #96afb7;
}
.benefit-front .nav {
    padding-top: 30px;
}
.benefit-front .benefits-txt {
    font-size: 16px;
    line-height: 26px;
}
.benefit-front .collapse .btn {
    margin-top: 34px;
}
.benefit-front .row {
    position: relative;
}
.benefit-front .span4 {
	position: relative;
}
.benefit-front .skrol {
    position: absolute;
    width:300px;
}
.pusher {
    padding-top: 10px;
}
.stripped {
    margin-top:0;
    margin-bottom:0;
}
@media (min-width: 1200px) {
    .benefit-front .skrol {
    width: 370px;
    }
    .pusher {
	padding-top: 50px;
	}
}
@media (max-width: 979px) and (min-width: 768px) {
    .benefit-front .skrol {
    width: 228px;
    }
}
@media (max-width: 979px) {
    body {padding-top: 0;}
    .brand {width: 120px;}
    .brand img {margin-left: 15px;margin-top: -10px;}
    .benefit-front .navbar, .navbar-inner {height: auto;}
    .benefit-front .skrol {position: relative;width:auto;}
    .benefit-front .row {margin: 20px 0 0;}
}
.benefit-front .ani1 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.benefit-front .ani2 {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.benefit-front .ani3 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.btn-success {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #009D81;
	background-image: -moz-linear-gradient(top, #3AD8BB, #009D81);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3AD8BB), to(#009D81));
	background-image: -webkit-linear-gradient(top, #3AD8BB, #009D81);
	background-image: -o-linear-gradient(top, #3AD8BB, #009D81);
	background-image: linear-gradient(to bottom, #3AD8BB, #009D81);
	background-repeat: repeat-x;
	border-color: #009D81;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3AD8BB', endColorstr='#009D81', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	color: #FFFFFF;
	background-color: #009D81;
}
.btn-info {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #8F6FBF;
	background-image: -moz-linear-gradient(top, #A37FD8, #8F6FBF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A37FD8), to(#8F6FBF));
	background-image: -webkit-linear-gradient(top, #A37FD8, #8F6FBF);
	background-image: -o-linear-gradient(top, #A37FD8, #8F6FBF);
	background-image: linear-gradient(to bottom, #A37FD8, #8F6FBF);
	background-repeat: repeat-x;
	border-color: #8F6FBF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A37FD8', endColorstr='#8F6FBF', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	color: #FFFFFF;
	background-color: #8F6FBF;
}